.body {
    margin: 0;
    padding: 0;
}

.youtube-app {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.youtube-app__header {
    padding: 20px 0;
}
.youtube-app__content {

}
.youtube-app__content::after {
    content: "";
    clear: both;
    display: block;
}
.youtube-app__video-details {
    float: left;
    width: 65%;
}
.youtube-app__video-list {
    float: right;
    width: 35%;
    box-sizing: border-box;
    padding: 0 0 0 20px;
}

/* ---------------------------------------------- */
.search-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.search-bar__input {
    width: 80%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
/* ---------------------------------------------- */


.video-details__frame-wrapper {
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.video-details__frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.video-details__info {
    padding: 10px 0;
    font: 1em Tahoma;
    color: #333333;
}
.video-details__name {
    font-weight: bold;
}
.video-details__description {
    margin-top: 10px;
}
/* ---------------------- */

.video-list {
    margin: 0;
    width: 100%;
    list-style-type: none;
    border: 1px solid #dddddd;
    padding: 0;
    border-radius: 3px;
}
/*--------------------------*/

.video-list-item {
    padding: 10px;
    cursor: pointer;
}
.video-list-item:hover {
    background-color: #f6f6f6;
}
.video-list-item + .video-list-item {
   border-top: 1px solid #dddddd;
}
.video-list-item::after {
    content: "";
    display: block;
    clear: both;
}
.video-list-item__thumb {
    max-width: 100px;
    display: block;
    float: left;
}
.video-list-item__name {
    font-size: 0.8em;
    margin-left: 105px;
    font-family: Tahoma;
}